
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Notes App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        {% if user.is_authenticated %}

        <span class="nav-link">Belépve mint: <span class="fw-bold">{{ user.username }}</span></span>
        <a class="nav-link" href="{% url 'logoutuser' %}">Logout</a>

        {% else %}

        <a class="nav-link" href="{% url 'loginuser' %}">Login</a>
        <a class="nav-link" href="{% url 'signupuser' %}">Sign up</a>

        {% endif %}

      </div>
    </div>
  </div>
</nav>